<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.roy.barina.livewallpapernodonate"
      android:versionCode="22"
      android:versionName="3.1">      
      <uses-sdk android:minSdkVersion="7" />      
      <uses-feature android:name="android.software.live_wallpaper" />      
    <application android:icon="@drawable/icon" android:label="@string/app_name">        
        <!-- Live Wallpaper Service -->
        <service
            android:name=".LiveWallpaper"
                        android:enabled="true"
                        android:icon="@drawable/icon"
                        android:label="@string/app_name"
                        android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper" 
                android:resource="@xml/wallpaper" />
        </service>        
        <!-- Live Wallpaper Settings Activity -->
        <activity
                android:label="@string/wallpaper_settings"
                android:name=".Settings"
                android:theme="@android:style/Theme.Light.WallpaperSettings"
                android:exported="true">
        </activity>
        <activity android:name="com.google.ads.AdActivity" 
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>        
    </application>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>